@import "../variables.scss";
@import "../utils.scss";

$tag-skew-effect: 20;

.a-tag {
    will-change: background-color;
    display: inline-block;
    background-color: $color-primary;
    border: 2px solid $color-primary;
    color: $color-primary-inverse;
    @include transition(background-color 0.2s ease-in-out);
    @include transform(skew(-#{$tag-skew-effect}deg));

    .a-tag__label {
        will-change: color;
        width: 100%;
        display: inline-block;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        padding: 2px 8px 4px;
        word-break: keep-all;
        @include font-size(0.85);
        @include transition(color 0.2s ease-in-out);
        @include transform(skew(#{$tag-skew-effect}deg));
    }

    &:hover {
        background-color: transparent;

        .a-tag__label {
            color: $color-primary;
        }
    }

    &.a-tag--inverse {
        background-color: transparent;

        .a-tag__label {
            color: $color-primary;
        }

        &:hover {
            background-color: $color-primary;

            .a-tag__label {
                color: $color-primary-inverse;
            }
        }
    }
}
