@import "../variables.scss";

@mixin calculate-column-size($column) {
    width: 100% / $container-column-count * $column - $container-column-margin;
}

.o-grid {
    max-width: $container-max-width;
    margin: 0 auto;
    width: $container-spread-width;

    &.o-grid--spread {
        width: 95%;
    }
}

.o-grid__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin: 1rem 0;

    & > :first-child {
        margin-left: 0;
    }

    &.o-grid__row--layout-only {
        margin: 0;
    }

    &.o-grid__row--autofit {
        height: 100%;
        width: 100%;
    }

    &.o-grid__row--space-m {
        margin: 1.5rem 0;
    }

    &.o-grid__row--space-l {
        margin: 2rem 0;
    }

    &.o-grid__row--space-xl {
        margin: 2.5rem 0;
    }

    &.o-grid__row--space-xxl {
        margin: 2.5rem 0;
    }
}

.o-grid__col {
    flex: 1 1 0px;
}

.o-grid__col,
[class^="o-grid__col-"],
[class*=" o-grid__col-"] {
    margin-left: $container-column-margin;
}

@for $i from 1 to 13 {
    .o-grid__col-#{$i} {
        @include calculate-column-size($i);
    }
}

@media screen and (max-width: 768px) {
    .o-grid__col,
    [class^="o-grid__col-"],
    [class*=" o-grid__col-"] {
        margin: 1rem 0;
        flex: 0 0 100%;
    }
}
