@import "../variables.scss";

.a-table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;

    thead {
        border-bottom: 2px solid $color-contour;

        th {
            font-weight: 700;
        }
    }

    th,
    td {
        vertical-align: middle;
        padding: 12px 4px;
    }

    &.a-table--responsive {
        position: relative;
        display: block;

        th,
        td {
            margin: 0;
        }

        thead {
            display: block;
            float: left;
            border: 0;
            tr {
                display: block;
                padding: 0 10px 0 0;
                border-right: 2px solid #333030;
            }
        }

        .tr {
            padding: 0 10px;
        }

        .tbody {
            display: block;
            overflow-x: auto;
            white-space: nowrap;
            tr {
                display: inline-block;
            }
        }

        .th {
            display: block;
            text-align: right;
        }

        .td {
            display: block;
            min-height: 16px;
            text-align: left;
        }
    }

    &.a-table--striped {
        tr:nth-child(2) {
            background-color: rgba(250, 250, 250, 0.98);
        }
    }
}
