@import "variables.scss";
@import "utils.scss";

.m-footer {
    @include font-size(0.7);
    padding: 5px 0;
    font-family: $typo-mono-font;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $color-primary-inverse;
    background-color: $color-primary;
}
