// Typography
$typo-initial-font-size: 62.5%; // 10px
$typo-fallback-font: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;

// Grid
$container-max-width: 960px;
$container-spread-width: 80%;
$container-column-count: 12;
$container-column-margin: 4%;

// Media Queries
$breakpoint-phone: 400px;
$breakpoint-tablet: 768px;

// Colors
$color-contour-grey: #333030;
