@import "../utils.scss";

.a-list {
    li,
    dt {
        @include font-size(1, 1.5);
    }

    &.a-list--horizontal {
        list-style: none;
        padding: 0;
        margin: 0;

        li,
        dt {
            @include font-size(1);
            float: left;
            padding: 0 10px;
        }
    }
}
